[flake8]
max-line-length = 88
extend-ignore = E203, W503
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    *.egg-info,
    src/database/alembic/versions,
    .pytest_cache,
    .mypy_cache,
    htmlcov
